/* a {
	color: var(--color-primary-200) !important;
} */
@media (prefers-color-scheme: light) {
	.day.light-scheme {
		background: white;
		color: #555;
	}
	.night.light-scheme {
		background: #eee;
		color: black;
	}
}
